.header {
  height: 10vh;
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #FFE400;
}

.day-button {
  font-size: 20px;
  font: 20px Monaco;
  width: 140px;
  margin: 20px 20px 20px 20px;
  color: black;
}
