.header {
  height: 10vh;
  background-color: #272727;
  display: flex;
  border-bottom: 10px solid #FFE400;
}

.day-button {
  font: 21px ABeeZee;
  width: 140px;
  margin: 20px 20px 20px 20px;
  color: black;
}
