<div class="main">
  MAIN
  <div
    *ngFor='let displayedImage of displayedImages; index as index'
    cdkDrag
    (cdkDragEnded)="dragEnd($event, displayedImage, index);"
    (cdkDragMoved)="dragMove($event)">
    <img
      [ngStyle]="{ position: 'absolute' }"
      [style.width.px] = 'displayedImage.size'
      [style.left.px] = 'displayedImage.x'
      [style.top.px] = 'displayedImage.y'
      [src]="displayedImage.link"
      [alt]="displayedImage.tag"
      (mousedown)="onMouseDown(index, $event)"
      (click)="onShowEdit(index, $event)">
    <span
      *ngIf="displayedImage.edit"
      [ngStyle]="{ position: 'absolute', cursor: 'pointer' }"
      [style.left.px] = 'displayedImage.x'
      [style.top.px] = 'displayedImage.y'>
      <mat-icon (click)="onIncrease(index)">add</mat-icon>
      <mat-icon (click)="onDecrease(index)">remove</mat-icon>
      <mat-icon (click)="onIncreasePosition(index)">keyboard_arrow_up</mat-icon>
      <mat-icon (click)="onDecreasePosition(index)">keyboard_arrow_down</mat-icon>
      <mat-icon (click)="onRemove(index)">clear</mat-icon>
    </span>
  </div>
</div>
