<div class="main">
  <div class="drawing-canvas">
    <app-drawing-canvas
      [paintBrush]="paintBrush"
      [pointerUpGlobal]="pointerUpGlobal"
      (saveCanvasData)="saveCanvasData($event)">
    </app-drawing-canvas>
    <div
      #cursorBox
      class="cursor">
    </div>
  </div>
  <div
    *ngFor='let displayedImage of displayedImages; index as index'
    cdkDrag
    (cdkDragEnded)="dragEnd($event, displayedImage, index);"
    (cdkDragMoved)="dragMove($event)"
    [cdkDragDisabled]="displayFullScreen">
    <img
      [ngClass]="displayedImage.edit ? 'image-border' : null"
      [ngStyle]="{ position: 'absolute', cursor: 'pointer' }"
      [style.width.px] = 'displayedImage.size'
      [style.left.px] = 'displayedImage.x'
      [style.top.px] = 'displayedImage.y'
      [src]="displayedImage.link"
      [alt]="displayedImage.tag"
      (pointerdown)="onPointerDown(index, $event)"
      (click)="onShowEdit(index, $event)">
    <div
      class="image-controls"
      *ngIf="displayedImage.edit"
      [style.left.px] = 'displayedImage.x - 5'
      [style.top.px] = 'displayedImage.y -41'>
      <mat-icon (click)="onIncrease(index)">add</mat-icon>
      <mat-icon (click)="onDecrease(index)">remove</mat-icon>
      <mat-icon (click)="onIncreasePosition(index)">keyboard_arrow_up</mat-icon>
      <mat-icon (click)="onDecreasePosition(index)">keyboard_arrow_down</mat-icon>
      <mat-icon (click)="onRemove(index)">clear</mat-icon>
    </div>
    <div
      class="icon-title"
      [style.left.px] = 'displayedImage.x + displayedImage.size + 10'
      [style.top.px] = 'displayedImage.y + (displayedImage.size / 2) - (displayedImage.size / 5) '
      [style.fontSize.px] = 'displayedImage.size / 3'>
      {{displayedImage.tag}}
    </div>
  </div>
</div>
