<div>
  <app-header>

  </app-header>
</div>
<div class="split-example" style="height: 90vh;">
  <as-split direction="horizontal" class="split-example ex-percent">
    <as-split-area size="18.75">
      <app-sidebar
        (paintBrushEvent)="paintBrush = $event"
        (deleteDrawing)="deleteDrawing = $event">
      </app-sidebar>
    </as-split-area>
    <as-split-area size="81.25">
      <app-main
        [paintBrush]="paintBrush"
        [deleteDrawing]="deleteDrawing">
      </app-main>
    </as-split-area>
  </as-split>
</div>
