<div class="sidebar">
  <span *ngFor='let imageDetail of imageDetails'>
      <img style="width: 100px;" [src]="imageDetail.link" [alt]="imageDetail.tag" (click)="onAddImage(imageDetail.index)">
  </span>
</div>
<div style="position: fixed; bottom: 119px; left: 10px;">
  <div class="group-container icon-spread">
    <mat-icon matTooltip="Undo last draw" class="icon-select">undo</mat-icon>
    <mat-icon matTooltip="Delete all" class="icon-select">delete_forever</mat-icon>
    <mat-icon matTooltip="Delete drawing" (click)="onDeleteDrawing()" class="icon-select">clear</mat-icon>
    <mat-icon matTooltip="Delete images" class="icon-select">layers_clear</mat-icon>
    <mat-icon matTooltip="Eraser" class="icon-select">format_color_reset</mat-icon>
    <mat-icon matTooltip="Fill with colour" class="icon-select">format_color_fill</mat-icon>
  </div>
</div>
<div style="position: fixed; bottom: 10px; left: 10px;">
  <div class="group-container">
    <span *ngFor="let paintBrushSize of paintBrushSizes; index as i;">
      <div
        class="paint-brush-size-box"
        [ngStyle]="{'box-shadow': this.selectedPaintBrushSize === paintBrushSize ? 'inset 0px 0px 0px 1px black' : null}"
        (click)="onSelectBrushSize(paintBrushSize)">
        <div
          class="dot"
          [ngStyle]="{
            'width': paintBrushSize + 'px',
            'height': paintBrushSize + 'px',
            'background-color': valueColor,
            'top': (18.75 - (paintBrushSize / 2)) + 'px',
            'left': ((18.75 - (paintBrushSize / 2)) + 25 * i) + 'px'
            }">
        </div>
      </div>
    </span>
  </div>
  <github-picker
    style="margin-top: 5px;"
    [(color)]="valueColor" [control]="githubControl">
  </github-picker>
</div>

