.sidebar {
  background-color: white;
  padding-left: 5px;
  z-index: 1;
}

.paint-brush-size-box {
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid #fff;
  box-shadow: rgba(0,0,0,.2) 0 0 5px 2px;
  cursor: pointer;
  top: -2px;
  padding: 1px;
}

.group-container {
  display: block;
  background: #fff;
  width: 200px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: rgba(0,0,0,.15) 0 3px 12px;
  border-radius: 4px;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dot {
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.icon {
  margin: 10px 10px 10px 10px;
  width: 90px;
  cursor: pointer;
}

.icon-spread {
  display: flex;
  justify-content: space-evenly;
}

.icon-select{
  font-size: 25px;
  cursor: pointer;
}

::ng-deep .mat-checkbox-frame {
  border-color: grey !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

input {
  font: 21px ABeeZee;
}
