<div class="sidebar">
  <div style="height: calc(90vh - 270px); overflow: scroll;">
    <span *ngFor='let imageDetail of imageDetails'>
      <img
        class="icon"
        [matTooltip]="imageDetail.tag"
        matTooltipClass="tooltip"
        [src]="imageDetail.link"
        [alt]="imageDetail.tag"
        (click)="onAddImage(imageDetail.index)">
    </span>
  </div>
  <div id='edit-options'>
    <div style="left: 10px; text-align: center; padding-bottom: 5px;" class="group-container">
     <button
       mat-raised-button color="primary"
       style="width: 100%; line-height: 32px;"
       matTooltip="Display Currently Selected Day"
       (click)="onDisplayFullScreen(true)">
       DISPLAY DAY
     </button>
    </div>
<!--    <div style="left: 10px; text-align: center; padding-bottom: 5px;" class="group-container">-->
<!--      <button mat-raised-button color="primary" style="width: 100%;" (click)="onAddText()">-->
<!--        ADD TEXT-->
<!--      </button>-->
<!--    </div>-->
    <div style="left: 10px;">
      <div class="group-container icon-spread">
        <mat-icon matTooltip="Undo last draw - NOT CURRENTLY IMPLEMENTED" class="icon-select">undo</mat-icon>
        <mat-icon matTooltip="Delete all" (click)="onDeleteAll()" class="icon-select">delete_forever</mat-icon>
        <mat-icon matTooltip="Delete drawing" (click)="onDeleteDrawing()" class="icon-select">clear</mat-icon>
        <mat-icon matTooltip="Delete images" (click)="onDeleteImages()" class="icon-select">layers_clear</mat-icon>
        <mat-icon matTooltip="Eraser - NOT CURRENTLY IMPLEMENTED" class="icon-select">format_color_reset</mat-icon>
        <mat-icon matTooltip="Fill with colour - NOT CURRENTLY IMPLEMENTED" class="icon-select">format_color_fill</mat-icon>
      </div>
    </div>
    <div style="left: 10px;">
      <div class="group-container">
      <span *ngFor="let paintBrushSize of paintBrushSizes; index as i;">
        <div
          class="paint-brush-size-box"
          [ngStyle]="{'box-shadow': this.selectedPaintBrushSize === paintBrushSize ? 'inset 0px 0px 0px 1px black' : null}"
          (click)="onSelectBrushSize(paintBrushSize)">
          <div
            class="dot"
            [ngStyle]="{
              'width': paintBrushSize + 'px',
              'height': paintBrushSize + 'px',
              'background-color': valueColor,
              'top': (paintBrushSize / 2) - 4 + 'px',
              'left': 10 - (paintBrushSize / 2) + 'px',
              'box-shadow': selectedColor === 'rgb(255,255,255)' ? '0 0 0 1pt black' : null
              }">
          </div>
        </div>
      </span>
      </div>
      <github-picker
        style="margin-top: 5px;"
        [(color)]="valueColor" [control]="githubControl">
      </github-picker>
    </div>
    <div style="left: 10px; text-align: center; padding-bottom: 5px;" class="group-container">
      <button mat-raised-button color="primary" style="width: 100%; font-size: 12px; line-height: 32px;" (click)="onIconAttributation()">
        ICON ATTRIBUTATION
      </button>
    </div>
  </div>
</div>

<div style="display: none;">
  <div #iconAttributation>
    <b>Icons made by:</b>
    <div><a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div><a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div><a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div><a href="https://www.flaticon.com/authors/mangsaabguru" title="mangsaabguru">mangsaabguru</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div><a href="https://www.flaticon.com/authors/pause08" title="Pause08">Pause08</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div><a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    <div><a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  </div>
</div>

<div style="display: none;">
  <div #addImagePopUp>
    <div *ngIf="selectedImageDetail">
      <img
        class="icon"
        [src]="selectedImageDetail?.link">
      <mat-form-field style="display: block">
        <mat-label>Time (optional)</mat-label>
        <input matInput [value]="selectedTime" (change)="selectedTime = $event.target.value">
      </mat-form-field>
      <mat-form-field style="display: block">
        <mat-label>Title (optional)</mat-label>
        <input matInput [value]="selectedTitle" (change)="selectedTitle = $event.target.value">
      </mat-form-field>
    </div>
  </div>
</div>

<div style="display: none;">
  <div #addTextPopUp>
      <mat-button-toggle-group name="fontSize" aria-label="Font Size" (change)="triggerResize($event.value)">
        <mat-button-toggle value="20px">20px</mat-button-toggle>
        <mat-button-toggle value="32px">32px</mat-button-toggle>
        <mat-button-toggle value="40px">40px</mat-button-toggle>
        <mat-button-toggle value="48px">48px</mat-button-toggle>
        <mat-button-toggle value="56px">56px</mat-button-toggle>
      </mat-button-toggle-group>
    <mat-form-field style="display: block">
      <mat-label>Text</mat-label>
      <textarea
        #textArea
        [style.fontSize]="addedTextFontSize"
        matInput
        (change)="addedText = textArea.value"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="99"></textarea>
    </mat-form-field>
  </div>
</div>
